@media (min-width:640px) {
    figure.article-cover>img {
        margin: 0px 0px 16px 16px;
        height: 220px;
        width: 220px;
        float: right;
    }
}

@media (max-width:640px) {
    figure.article-cover>img {
        display: none;
    }
}